color-slate1 = #c5d0e2
color-slate2 = #949baa
color-slate3 = #585c66
color-primaryblue = #428bca

.dropdown-primary
  background-color: color-slate1
  border-color: color-slate1
  color: color-slate3
  &:hover
    background-color: color-slate2
    border-color: color-slate2
    color: color-slate3
  &:active
    background-color: color-slate3
    border-color: color-slate3
    color: color-slate1

.open > .btn.dropdown-toggle
  background-color: color-slate2
  border-color: color-slate2
  color: color-slate1

.btn .caret, .btn:hover .caret
  border-top-color: color-slate3

.btn:active .caret
  border-top-color: color-slate1

.open > .btn.dropdown-toggle .caret
  border-top-color: color-slate1

.btn-outline
  border-radius: 3px
  box-sizing: border-box
  border-width: 2px
  background-color: transparent
  line-height: 36px
  font-size: 16px
  font-weight: 500
  padding: 0px 18px
  background-color: #fff
  border-color: color-slate1
  color: color-slate3
  &:hover
    background-color: color-slate1
    border-color: color-slate1
    color: color-slate3
  &:focus
    background-color: color-slate2
    border-color: color-slate2
  &:active
    background-color: color-slate3
    border-color: color-slate3
    color: color-slate1

.navbar-nav
    float: left
    margin: 0 0 0 16px
